{% extends "base.html.twig" %}

{% block title %}Symerecipe - Acceuil 
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
        <h1 class="display-4">Bienvenu chez vous !</h1>
        <p class="lead">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.</p>
        <hr class="my-4">
        <p>Pour commencer allez dans notre page d'inscription.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">inscription</a>
    </div>
    </div>
 {% endblock %}